@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="wrap" class="px-1">

    <form>
        <div class="row g-1">
            <div class="col-md" id="ProviderDetails">
                <div class="d-flex flex justify-content-between">
                    <div class="px-2">
                        <label class="col-form-label px-2"> Last Name</label>
                        <input class="px-2" name="txtBirthDate" type="text" id="txtBirthDate" tabindex="0" />
                    </div>
                    <div class="px-2">
                        <label class="col-form-label px-2">First Name</label>
                        <input class="px-2" name="txtFirstName" type="text" id="txtFirstName" tabindex="0" />
                    </div>

                    <div class="px-2">
                        <label class="col-form-label px-2">Provider Type</label>
                        <input class="px-2" name="txtProviderType" type="text" id="txtProviderType" tabindex="0" />
                    </div>

                </div>

                <div class="d-flex flex justify-content-between">
                    <div class="px-2">
                        <label class="col-form-label px-2">Address</label>
                        <input class="px-2" name="txtAddress" type="text" id="txtAddress" tabindex="0" />
                    </div>
                    <div class="px-2">
                        <label class="col-form-label px-2">Phone</label>
                        <input class="px-2" name="txtPhone" type="text" id="txtPhone" tabindex="0" />
                    </div>

                    <div class="px-2">
                        <label class="col-form-label px-2">Work</label>
                        <input class="px-2" name="txtWork" type="text" id="txtWork" tabindex="0" />
                    </div>

                </div>
                

            </div>
        </div>
    </form>
</div>
