@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="wrap" class="px-1">

    <form>
        <div class="row g-1">
            <div class=" d-flex flex col-md-12" id="ProviderDetails">
                <div class="d-flex flex col-4 px-2">
                    <div class="col-2">
                        <label class="col-form-label"> Last Name</label>                    
                    </div>
                    <div class="col-10">
                        <input class="form-control" name="txtBirthDate" type="text" id="txtBirthDate" tabindex="0" />
                    </div>
                </div>

                <div class="d-flex flex col-4 px-2">
                    <div class="col-2">
                        <label class="col-form-label">First Name</label>
                    </div>
                    <div class="col-10">
                        <input class="form-control" name="txtFirstName" type="text" id="txtFirstName" tabindex="0" />
                    </div>
                </div>

                <div class="d-flex flex col-4 px-2">
                    <div class="col-2">
                        <label class="col-form-label">Provider Type</label>
                    </div>
                    <div class="col-10">
                    <input class="form-control " name="txtProviderType" type="text" id="txtProviderType" tabindex="0" />
                    </div>
                </div>
            </div>



            <div class="d-flex flex col-md-12">
                <div class="d-flex flex col-4 px-2">
                    <div class="col-2">
                        <label class="col-form-label">Address</label>

                    </div>
                    <div class="col-10">
                        <input class="form-control px-2" name="txtAddress" type="text" id="txtAddress" tabindex="0" />
                    </div>                  
                    
                </div>
                <div class="d-flex flex col-4 px-2">
                    <div class="col-2">
                        <label class="col-form-label">Phone</label>

                    </div>
                    <div class="col-10">
                        <input class="form-control" name="txtPhone" type="text" id="txtPhone" tabindex="0" />
                    </div>
                    
                    
                </div>

                <div class="d-flex flex col-4 px-2">
                    <div class="col-2">
                        <label class="col-form-label">Work</label>
                    </div>
                     <div class="col-10">
                        <input class="form-control" name="txtWork" type="text" id="txtWork" tabindex="0" />
                     </div>                   
                   
                </div>

            </div>

            <div class="d-flex flex col-md-12">
                <div class="d-flex flex col-4 px-2">
                    <div class="col-2">
                        <label class="col-form-label">Email</label>

                    </div>
                    <div class="col-10">
                        <input class="form-control" name="txtEmail" type="text" id="txtEmail" tabindex="0" />
                    </div>
                    
                   
                </div>
                 

            </div>

            <div class="col-xs-2 g-4 px-2">
                    
                    <label class="col-form-label"> Comments </label>
                    <textarea class="form-control " rows="6" name="txtComment" type="text" id="txtComment" tabindex="0"></textarea>
                    


            </div>


         </div>
        
    </form>
</div>
